services:
  server-tools:
    container_name: SERVER_TOOLS
    hostname: local-dock
    image: infocyph/tools:latest
    restart: unless-stopped
    environment:
      - TZ=${TZ:-}
    volumes:
      - ../../configuration/apache:/etc/share/vhosts/apache
      - ../../configuration/nginx:/etc/share/vhosts/nginx
      - ../../configuration/ssl:/etc/mkcert
      - "../../configuration/ssh:/home/${USER}/.ssh:ro"
      - "${PROJECT_DIR:-./../../../application}:/app"
      - ../../configuration/rootCA:/etc/share/rootCA
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      backend:
        ipv4_address: 172.29.0.10

  runner:
    container_name: RUNNER
    hostname: runner
    image: infocyph/runner:latest
    restart: unless-stopped
    environment:
      - TZ=${TZ:-}
    volumes:
      - ../../configuration/scheduler/supervisor:/etc/supervisor/conf.d:ro
      - ../../configuration/scheduler/cron-jobs:/etc/cron.d:ro
      - ../../logs/runner:/var/log/supervisor
      - ../../logs/apache:/global/log/apache
      - ../../logs/nginx:/global/log/nginx
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - server-tools
    networks:
      backend:
        ipv4_address: 172.29.0.11
